a{cursor: pointer;}

.layui-layout-admin .layui-header {
    border-bottom: 5px solid rgb(26, 160, 148);
}
.layui-layout-admin .layui-current{
    border-left: 5px solid rgb(26, 160, 148);
}
  .ymheader{
      background: #393D49
  }
  .ymheader .user-action {
      position: absolute;
      right: 15px;
      top: 25px;
  }
  .ymheader .user-action a{
      color:#fff;
      font-size: 16px;
  }
  .ymheader .logo {
      height: 60px;
  }
  
    .welcome {
        width: 200px;
        height: 200px;
        margin: 5px;
        float: left;
        text-align: center;
        position: relative;
    }
    
    .welcome a {
        position: relative;
        top: 50%;
        height: 20px;
        color: white;
        margin-top: -10px;
        display: block;
        font-size: 18px;
        text-shadow: 1px 1px
    }